<div class="cadastro-container">
  <div class="title"><h1>BEM VINDO</h1></div>

  <div class="boas-vindas">
    <p><span>Novo</span> Login</p>
    <div class="linha"></div>
  </div>

  <div class="redes">
    <div class="rede-single" title="facebook">
      <i data-feather="facebook"></i>
    </div>

    <div class="rede-single" title="instagram">
      <i data-feather="instagram"></i>
    </div>

    <div class="rede-single" title="linkedin">
      <i data-feather="linkedin" ></i>
    </div>
  </div>
</div>


